{# templates/forms/inscription.html.twig #}
{% include 'header.html' %}

<h1>Inscription</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
