{# templates/accueil.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<a href='/inscription'><button>S'inscrire</button></a>
{{ form_start(connection_form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(connection_form) }}
{{ form_end(connection_form) }}
<h1>Acceuil</h1>
{% endblock %}
