{# templates/validation.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h1>Activation du compte</h1>
{% if success %}
  <p>Le compte a l'adresse {{email}} a bien été activé !</p>
{% else %}
<a href="{{ path('send_new_email', {'id_user': id_user, 'email': email}) }}">
  <p>Ce lien a expiré. Vous pouvez en renvoyer un autre en cliquant <a href="{{ path('send_new_email', {'id_user': id_user, 'email': email}) }}">ici</a></p>
{% endif %}
{% endblock %}
