{# templates/validation.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title %}Compte validé !{% endblock %}
{% endblock %}

{% block body %}
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</header>
<br/>
<br/>
<h1>Activation du compte</h1>
{% if success %}
  <p>Le compte a l'adresse {{email}} a bien été activé !</p>
{% else %}
  <p>Ce lien a expiré. Vous pouvez en renvoyer un autre en cliquant <a href="{{ path('new_mail', {'token': token}) }}">ici</a></p>
{% endif %}
{% endblock %}
