{# templates/reservations/bornes.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
<title>Profil</title>
{% endblock %}

{% block body %}
<h1>Réservation de bornes</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
