{# templates/reservations/cars.html.twig #}
{% extends "base.html.twig" %}

{% block head %}
{{ parent() }}
{% block title %}Voitures{% endblock %}
{% endblock %}

{% block javascripts %}
<script src="modernizr.js"></script>
  <!-- Webforms2 -->
  <script src="webforms2/webforms2-p.js"></script>
  <!-- jQuery  -->
  <script src="js/jquery-1.4.3.min.js"></script>
  <script src="js/jquery-ui-1.8.5.min.js"></script>
  <!-- Feuille de style -->
  <link rel="stylesheet" href="styleFormulaire.css">
  <!-- jQuery Numeric Spinner -->
  <script src="spinner.js"></script>

  <!-- jQuery Placehol
    <script src="jquery.placehold-0.2.min.js"></script>  -->

  <!-- Demo page layout
  <link rel="stylesheet" href="html5forms.layout.css">  -->
  <script src="html5forms.js"></script>
  <script src="html5forms.fallback.js"></script>
  {% endblock %}

{% block body %}
<h1>Réservation de voiture</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
